<p style="color: green"><%= notice %></p>
<% if user_signed_in? %>
  <%= render @order %>
  <div>
    <%= link_to "Edit this order", edit_order_path(@order) %> |
    <%= link_to "Back to orders", orders_path %>
    <%= button_to "Destroy this order", @order, method: :delete %>
  </div>
<%end%>
