     <% content_for :title, "Palais Sans Souci - Blog" %>
<h1>Articles</h1>
<div id="articles">
  <% @articles.each_with_index do |article, idx | %>
    <% if idx == 0 %>
      <article>
        <h1> <%= article.title %></h1>
        <h2>
          <%= article.slug %>
        </h2>
        <% if article.poster.attached? %>
          <figure class="mb-3">
            <%= image_tag article.poster, class: "img-fluid" %>
            <figcaption>
              <%= article.poster_description %>
            </figcaption>
          </figure>
        <%end%>
        <article>
          <%= article.content %>
        </article>
      </article>
    <%else%>
      <ul class="list-group">
        <li class="list-group-item">
          <%= article.title %>
        </li>
        <li class="list-group-item">
          <%= link_to "Show this article", a_blog_path(article) %>
        </li>
      </ul>
    <%end%>
  <% end %>
</div>