<%# <div 
class="px-4 py-1 mb-5 text-center parallax"
style="background-image: url(<%= image_path "palais-sans-souci-01.png"%>);">
<%#= image_tag "armoirie-royale-bg-transparent.png",  class: "d-block mx-auto mb-4 border border-rounded border-warning", size: "72x57", alt: "armoirie du Roi Henri 1" %>
<%# <h1 class="display-5 fw-bold text-body-emphasis text-warning">Palais Sans Souci</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 text-warning">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aliquam quasi fugit voluptate iste optio, hic, deleniti quam atque corrupti quibusdam corporis dolorem quos quae expedita maxime enim, voluptatem unde?
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-success btn-lg px-4 gap-3">Palais Sans Souci</button>
      <button type="button" class="btn btn-outline-warning btn-lg px-4">A propos</button>
      <button type="button" class="btn btn-outline-primary btn-lg px-4">Sans Souci Postdam</button>
    </div>
  </div> %>
<%# </div> %>
<div class="container-fluid my-5 p-5">
  <%= image_tag "palais-sans-souci-01.png",
       class: "img-fluid frame frame-01"

      %>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <button type="button" class="btn btn-success btn-lg px-4 gap-3 img-fluid frame frame-01">Palais Sans Souci</button>
    <button type="button" class="btn btn-outline-warning btn-lg px-4 img-fluid frame frame-01">A propos</button>
    <button type="button" class="btn btn-outline-primary btn-lg px-4 img-fluid frame frame-01">Sans Souci Postdam</button>
  </div>
</div>
<div class="container my-5">
  <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
    <%= image_tag "armoirie-royale.png", class: "bi mt-5 mb-3", size: "48 x 48" %>
    <h1 class="text-body-emphasis">
      sit amet consectetur adipisicing
    </h1>
    <p class="col-lg-6 mx-auto mb-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed consequatur ducimus et quod cumque deserunt vero. Velit, optio assumenda sit vel expedita alias incidunt ducimus neque tenetur, deleniti illum eum?
    </p>
    <button class="btn btn-warning px-5 mb-5" type="button">
      Histoire du chateau
    </button>
  </div>
</div>
<div 
class="my-5 parallax"
style="background-image: url(<%= image_path "palais-sans-souci-02.png"%>);"
>
  <div class="p-5 text-center">
    <div class="container py-5">
      <h1 class="text-body-emphasis">
        sit amet consectetur adipisicing
      </h1>
      <p class="col-lg-8 mx-auto lead">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed delectus atque explicabo repellat aliquam necessitatibus, libero impedit dolores numquam distinctio suscipit. Doloribus molestias atque neque ullam ipsa illo omnis modi.
      </p>
    </div>
  </div>
</div>
<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">
    sit amet consectetur adipisicing
  </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsa natus, a neque, quo nam debitis at cumque voluptate quia ducimus iusto odit aspernatur! Earum repudiandae repellendus magnam sit maxime?
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <button type="button" class="btn btn-warning btn-lg px-4 me-sm-3">Primary button</button>
      <button type="button" class="btn btn-outline-warning btn-lg px-4">Secondary</button>
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
      <%=  image_tag "palais-sans-souci-03.png", class: "img-fluid border rounded-3 shadow-lg mb-4", alt: "Example image", size: "700 x 500", loading: "lazy" %>
    </div>
  </div>
</div>
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <%=  image_tag  "palais-sans-souci-03.png" , class: "d-block mx-lg-auto img-fluid", alt: "Bootstrap Themes", size: "700 x 500", loading: "lazy"  %>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      </h1>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium nulla nam similique, minus sunt at illo ea natus ullam esse doloremque quo neque, asperiores recusandae. Repudiandae atque cumque illum labore.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-warning btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-warning btn-lg px-4">Default</button>
      </div>
    </div>
  </div>
</div>
