<div class="row product-show" id="<%= dom_id product %>" >
  <div class="col p-4">
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <% product.pictures.each_with_index do |picture, idx | %>
          <% if idx == 0 %>
            <div class="carousel-item active">
              <%= image_tag picture, class: "w-100 h-100" %>
            </div>
          <% else %>
            <div class="carousel-item">
              <%= image_tag picture, class: "w-100 h-100" %>
            </div>
          <% end %>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="col">
    <h1>
      <strong>  <%= product.name %></strong>
    </h1>
    <%= image_tag product.pictures[0], class: "img-fluid" %>
    <p>
      <%= product.description %>
    </p>
    <p>
      Price:&nbsp;<strong><%=  number_to_currency(product.price) %></strong>
    </p>
    <p>
      <strong>Category:</strong>
      <%= product.category_id %>
    </p>
  </div>
</div>
